NODE_ENV=development
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:4200,http://127.0.0.1:4200,http://localhost:8080,http://127.0.0.1:8080

POSTGRES_USER=fitadmin
POSTGRES_PASSWORD=fitadmin
POSTGRES_DB=fitadmin
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgres://fitadmin:fitadmin@postgres:5432/fitadmin

MONGO_INITDB_ROOT_USERNAME=fitadmin
MONGO_INITDB_ROOT_PASSWORD=fitadmin
MONGO_DATABASE=fitadmin_mongo
MONGO_URL=mongodb://fitadmin:fitadmin@mongo:27017/fitadmin_mongo?authSource=admin

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@gxgym.local

API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
GYM_SERVICE_PORT=3002
INVENTORY_SERVICE_PORT=3003
REPORT_SERVICE_PORT=3004

AUTH_SERVICE_URL=http://auth-service:3001
GYM_SERVICE_URL=http://gym-service:3002
INVENTORY_SERVICE_URL=http://inventory-service:3003
REPORT_SERVICE_URL=http://report-service:3004
