{$FRONTEND_DOMAIN} {
  encode zstd gzip
  reverse_proxy frontend:4000
}

{$API_DOMAIN} {
  encode zstd gzip
  reverse_proxy api-gateway:3000
}

{$DB_DOMAIN} {
  encode zstd gzip
  basicauth {
    mateo {$DB_BASIC_AUTH_HASH}
  }
  reverse_proxy adminer:8080
}
